.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app-container{
  
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr;
    grid-template-columns: 100% 50%;
}
.jumbo{
  width: 950px;
  height: 600px;
  text-align: center;
  background-image: url('./Images/moviehouse.png');
  background-color: #61dafb;
}
.movieResults{

    text-align: center;
    background-color: bisque;
}

.search-form{
  text-align: center;
  padding: 15px;
}
.movieItem{
  display: flex;
  flex-direction: row;
  padding: 5px;
}
.favourite-btn{
  float: right;
}
hr{
  color: #000;
}
.loveMovies{
  text-align: center;
}